<html>
    <head>
        <style>
            body { font-family: Arial, sans-serif; }
            .footer { padding: 20px; background-color: #f4f4f4; text-align: center; }
            .content { background-color: #ffffff; padding: 20px; }
            .header { background-color: #e0e0e0; padding: 10px; text-align: center; }
            .icon { height: 30px; vertical-align: middle; }
            .vehicle-info { margin-bottom: 20px; }
        </style>
    </head>
    <body>
        <div class="header">
            <img src="icon_url_here" alt="Icon" class="icon"/>
            <span>Voertuigonderhoud Bevestiging</span>
        </div>

        <div class="content">
            <p>Kenteken:   @LicensePlate</p>
            <p>Brandstof:  @FuelType</p>
            <p>Model:	    @Model</p>
            <p>APK tot:    @MOT</p>
            <p>NAP:	    @NAP</p>
            <p>...         @VehicleUrl</p>
        
            <p>Reactie op dit bericht, wordt gelijk door gestuurd.</p>
            <p>Referentie-ID: @ConversationId</p>
        </div>

        <div class="footer">
            <p><i>- Autohelper -</i></p>
        </div>
    </body>
</html>
